__pycache__/
*.pyc

.venv/
venv/

.vscode/

*.log

datasets/
collected_datasets/
merged_datasets/

assets/G1_120s
assets/objects
assets/robot_g1_arms_convex_decomposition

logs/
.env
pico_to_g1_pipeline/data/
pico_to_g1_pipeline/work/
pico_to_g1_pipeline/outputs/